<!-- Existing Wallet Box -->
<div *ngIf="!ready" class="container-md">
    <div class="block block-center bg-vl-gray inputBox">
     <img src="assets/img/bitcoin.png" alt="bitcoin" style="max-width: 50px;" />
        <h2 >View Wallet</h2><br>
        <input placeholder="Address" [(ngModel)]="keyInput">
        <button [disabled]="!isValidAddress(keyInput)" class="btn btn-primary btn-lg" (click)="showCardFromKey()">View Wallet</button>
        <br>
        <p >----------or----------</p>
        <button class="btn btn-link btn-lg" (click)="scanQr = true">Scan Qr</button>
        <br><br>
        <p >Enter address key in the above field to view your wallet information such as balance and transactions.</p>
    </div>
</div>


<nav class="hidden-print hidden-sm hidden-xs affix" >

<ul class="nav">
 <li>
 <a  [routerLink]="['/bitcoin/wallet']"><span>Create Wallet</span></a>
 </li>

  <li>
 <a  [routerLink]="['/bitcoin/info']"><span>View Wallet</span></a>
 </li>

  <li>
 <a  [routerLink]="['/bitcoin/send']"><span>Send Bitcoin</span></a>
 </li>

  <li>
 <a  [routerLink]="['/bitcoin/request']"><span>Request Bitcoin</span></a>
 </li>

</ul></nav>


<!-- Scan Qr Box -->
<div *ngIf="scanQr" class="scanQrOverlay">
    <div class="scanQr">
        <h2>Scan Qr</h2><br>
        <p class="text-justify">Place your address Qr Code in front of the camera.</p>
        <qr-scanner
            [debug]="false"
            [canvasWidth]="640"
            [canvasHeight]="480"
            [mirror]="true"
            [stopAfterScan]="true"
            [updateTime]="500"
            (onRead)="decodedQrOutput($event)"></qr-scanner>
        <a class="btn btn-link btn-lg" (click)="scanQr = false">Dismiss</a>
    </div>
</div>

<!--- Wallet Info View -->
<div *ngIf="ready" class="container">
    <div class="row">
        <div class="col-sm-8">

            <div class="box">
                <img src="assets/img/bitcoin.png" alt="bitcoin" style="max-width: 50px;" />
                <div class="form-group mg-top-sm">
                    <b>Address</b>
                    <div class="clearfix" style="width:450px;">
                        <input type="text" class="form-control withQr" value="{{ wallet.address }}" readonly>
                        <span class="{{ qrClass }}" (click)="qrToggle()">
                        <svg class="qr" width="40px" height="40px" viewBox="0 0 40 40">
                            <path [attr.d]="qrSvg"></path>
                        </svg>
                    </span>
                    </div>
                </div>
                <span style="font-size: 37px;">{{ balance }}</span> <b>BTC</b>
                <span style="font-size: 37px;">$ {{ balance_usd }}</span> <b>USD</b>
            </div>
            <div class="col-sm-3">
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-6">
                        <a [routerLink]="['/ethereum/send']" class="btn btn-link btn-lg"><i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i> SEND</a></div>
                    <div class="col-lg-6">
                        <button class="btn btn-link btn-lg"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>REQUEST</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-heading">
                <h3>Transactions</h3>
            </div>
            <div class="container" *ngFor="let tx of transactions | paginate: { itemsPerPage: 10, currentPage: page, totalItems: total }">
                <div class="bg-light-gray ">
                    <div class="row pad-rt-lt ">
                        <div class=" box-bdr  pad-top-btm">
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
                                <button type="button" class="btn btn-default btn-sm hidden">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <span>{{ tx.txid }}</span>
                            </div>
                            <span>mined {{ (tx.time * 1000) | date : 'mediumDate' }} {{ (tx.time * 1000) | date : 'shortTime' }}</span>
                        </div>

                    </div>
                    <div class="pad-top-btm">
                        <div class="row pad-rt-lt">
                            <div class="col-lg-5">
                                <div *ngFor="let vin of tx.vin" class="text-box marg-top">
                                    <div class="row pad-all space-between">
                                        <div *ngIf="vin?.addr !== wallet.address;else fromText" >
                                                <a style="color:dodgerblue" [routerLink]="['/bitcoin/info']" [queryParams]="{address: vin?.addr }">{{ vin?.addr }}</a>
                                            </div>
                                        <ng-template #fromText>{{ vin?.addr }}</ng-template>
                                        <span>{{ vin?.value }} BTC</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center marg-top text-white"><i class="fa fa-chevron-right" style="color:black;font-size:26px;" aria-hidden="true"></i></div>
                            <div class="col-lg-5">
                                <div *ngFor="let vout of tx.vout" class="text-box marg-top">
                                    <div *ngIf="vout?.scriptPubKey?.addresses" class="row pad-all space-between">
                                        <!-- <a>{{ vout?.scriptPubKey?.addresses[0] }}</a> -->
                                        <div *ngIf="vout?.scriptPubKey?.addresses[0] !== wallet.address;else toText" >
                                                <a style="color:dodgerblue" [routerLink]="['/bitcoin/info']" [queryParams]="{address: vout?.scriptPubKey?.addresses[0] }">{{ vout?.scriptPubKey?.addresses[0] }}</a>
                                            </div>
                                        <ng-template #toText>{{ vout?.scriptPubKey?.addresses[0] }}</ng-template>
                                        <span>{{ vout?.value }} BTC</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pad-rt-lt">
                        <div class="box-bdr text-right pad-all ">
                            <span class="btn">Fee: {{ tx.fees}} BTC</span>
                            <span class="btn btn-primary">{{tx.confirmations}} Confirmations</span>
                            <span class="btn btn-success  pad-all">{{ tx.valueOut}} BTC</span>
                        </div>
                    </div>
                </div>
            </div>
            <div [class.hidden]="!loading" class="spinner-cube">
                <div class="cube1"></div>
                <div class="cube2"></div>
            </div>
            <pagination-template #p="paginationApi" (pageChange)="getPage($event)">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li [class.disabled]="p.isFirstPage()">
                            <a aria-label="Previous" (click)="p.previous()">
                                    <span  aria-hidden="true">&laquo;</span>
                                </a>
                        </li>
                        <li *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                            <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                                    <span>{{ page.label }}</span>
                                </a>
                            <a [class.active]="p.getCurrent() === page.value" *ngIf="p.getCurrent() === page.value">
                                        <span>{{ page.label }}</span>
                                </a>
                        </li>
                        <li [class.disabled]="p.isLastPage()">
                            <a (click)="p.next()" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                        </li>
                    </ul>
                </nav>
            </pagination-template>
        </div>
    </div>
</div>
