.inputBox{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.scanQrOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}

.scanQr {
  position: fixed;
  left: 40%;
  top: 50px;
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-Items: center;
}
