<!-- Existing Wallet Box -->
<div class="container-md">


    <nav class="affix clearfix" >

        <ul class="nav">
            <li>
                <a  [routerLink]="['/bitcoin/wallet']"><span>Create Wallet</span></a>
            </li>

            <li>
                <a  [routerLink]="['/bitcoin/info']"><span>View Wallet</span></a>
            </li>

            <li>
                <a  [routerLink]="['/bitcoin/send']"><span>Send Bitcoin</span></a>
            </li>

            <li>
                <a  class="active" [routerLink]="['/bitcoin/request']"><span>Request Bitcoin</span></a>
            </li>

        </ul>
    </nav>

    <div class="block block-center bg-vl-gray inputBox" *ngIf="!addressProvided">

        <img src="../../assets/img/bitcoin.png" style="max-width:50px;" />
        <h2>Request Bitcoin</h2><br>
        <label>Your Bitcoin Address</label>
        <input class="form-control" placeholder="Address" [(ngModel)]="bitcoinAddress" (keyup.enter)="showNextForm()">
        <button [disabled]="!isValidPrivateKey(bitcoinAddress)" class="btn btn-primary btn-lg" (click)="showNextForm()">Continue</button>
         <p>Enter address key in the above field to view your wallet information such as balance and transactions.</p>
        <br>
        <!--<p>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;or&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
        <!--<button class="btn btn-link btn-lg" (click)="scanQr = true">Scan Qr</button>-->
        <!--<br><br>-->

    </div>

    <!-- Scan Qr Box -->
    <div *ngIf="scanQr" class="scanQrOverlay">
        <div class="scanQr">
            <h2>Scan Qr</h2><br>
            <p class="text-justify">Place your address Qr Code in front of the camera.</p>
            <qr-scanner
                [debug]="false"
                [canvasWidth]="640"
                [canvasHeight]="480"
                [mirror]="false"
                [stopAfterScan]="true"
                [updateTime]="500"
                (onRead)="decodedQrOutput($event)"></qr-scanner>
            <a class="btn btn-link btn-lg" (click)="scanQr = false">Dismiss</a>
        </div>
    </div>


    <div class="block block-center bg-vl-gray align-center"  *ngIf="addressProvided">

        <img src="../../assets/img/bitcoin.png" style="max-width:50px;" />
        <h2>Request Bitcoin</h2>
        <form [formGroup]="sendBitcoin">
       <label>Email where you are sending request</label>
            <input class="form-control" formControlName="email" type="email" placeholder="Email...">

            <!-- Currency Converter Box Start -->
            <app-converter-box [baseValue]='sendBitcoin.controls.amount_bitcoin.value' [baseImage]='"assets/img/Bitcoin.png"' [bid]='btcusd' baseName='BTC' quoteName='USD' (on_change)="converter($event)"></app-converter-box>

            <span *ngIf="ethbtc?.time" style="color:#bbb;font-size:14px;">** The exchange rate is as of {{ ethbtc?.time}}</span>
            <!-- Currency Converter Box End -->
            <label>Type your message</label>
            <textarea  placeholder="Please type your message here..." class="form-control" formControlName="message"></textarea>
        </form>
        <button [disabled]="!sendBitcoin.valid" class="btn btn-primary btn-lg"  (click)="requestBitcoin()">Request</button>
    </div>
</div>
