body {
    background: #fff url(../img/network.svg) no-repeat center top;
    background-size: 100% auto;
    background-attachment: fixed;
    font-family: verdana, sans-serif;

    font-size: 14px;
}
/*
@font-face {
font-family:"at";
src: url(../fonts/at.ttf) format('truetype');
font-style: normal;
font-weight:lighter;
}

@font-face {
font-family:'SourceSansPro-Regular';
src: url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
font-style: normal;
font-weight: 400;
}


@font-face {
font-family:'SourceSansPro-Bold';
src: url(../fonts/SourceSansPro-Bold.ttf) format('truetype');
font-style: normal;
font-weight: 400;
}*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cp5yvy');
  src:  url('../fonts/icomoon.eot?cp5yvy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cp5yvy') format('truetype'),
    url('../fonts/icomoon.woff?cp5yvy') format('woff'),
    url('../fonts/icomoon.svg?cp5yvy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-google-plus, .icon-facebook, .icon-instagram, .icon-twitter, .icon-youtube, .icon-linkedin2:before {
  font-size: 25px;
  padding: 5px;
}
.icon-circle-up:before{
  content: "\2bc5";
  font-size: 50px;
  color: #999;
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin2:before {
  content: "\eaca";
}

.coins .container { width:972px;}

.panel-group .panel { margin-bottom:2px;}
accordion-toggle { display: block; cursor: pointer;}
accordion-toggle:hover { background:#37d4b1; color:#fff; }
h4 .caret { display: none }
.accordion .panel-heading { padding:0;}
.accordion h4 accordion-toggle { padding:10px 15px;}


header {
 padding:12px 0;
 position: absolute; width:100%; height:75px;
 top:0px; background:#fff;
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}



h2, .h2, h1, .h1 { }

header nav{
  height: 75px;
  float: right;
  text-align: center;

}
nav ul {
  margin-top: 0;
}
nav ul li{
  list-style: none;
  margin:0;
}
.input-lg { font-size:14px; }
nav ul li a:hover{
  text-decoration: none;
  color:#37D4B1;
}
nav ul li.active a {text-decoration: none; color:#00abe3;}

.banner img{
float: right;
margin-top: -32px;
margin-bottom: 30px;
}
.banner-content{
  padding-top: 5vh; padding-bottom:5vh;
  text-align: center;
}
.banner-content h1 { max-width:556px; display:inline-block;  font-size: 24px; }
.banner-content p { max-width:600px; display: inline-block; margin:30px 0;  }

header.sticky { position: fixed; width:100%; left:0; top:0; right:0; background:#fff; z-index:100; border-bottom:1px solid #ccc; }

.pd-none{ padding: 0;}
.pd-top-sm { padding-top: 10px;}
.pad-topbottom{ padding:40px 0;}
.bg-dark{
  width: 100%;
  background: #4a4a4a; color:#fff;
  padding: 0;
}

.pd-all-md { padding: 25px;}

.bg-dark a { color:#fff;}

.four-col-box {
padding-top: 40px;
text-align: center;
padding-bottom: 84px;
}
.four-col-box  img{
margin-top: 30px;
text-align: center;
height:35px;
}
.four-col-box h3{ font-size:18px;  }
.four-col-box p { margin-bottom: 60px; }
.icon{
  vertical-align: middle;
}
.empty-section{
  background:#f0f0f0;
  min-height: 300px;
}
.links-footer{
  padding:0;
  text-align: center;
  color: #fff;
}
.links-footer ul{
  padding: 0;
}
.links-footer ul li{
  list-style: none;
  line-height: 1.6;
}
.links-footer ul a { font-size:12px }
.links-footer a {
color: #fff;
}
.links-footer a:hover{
  color:#00abe3;
  text-decoration: none;
}
.links-footer form{
  color: #666;
  width:100%;
  padding:5px;
  border-radius: 0px;

}

.copy-right{
  width: 80%;
  padding-top: 50px;
  margin: 0 auto;
  color:#fff;
  text-align: center;
}
footer{
  background:#2a2a2a;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-btns p{
  margin: 30px auto 10px;
  text-align: center;
  text-transform: uppercase;
}
.social-btns button{
  background:#2a2c2d;
  padding: 0;
  border:none;
  outline:none;
}

.social-btns ul li{
  list-style: none;
  display: inline;
  margin: 2px ;
}
.social-btns a:hover{
text-decoration: none;
}
.sl-country{padding: 6px 12px; width: 100%; margin-top: 0; color:#999; border-radius:2px; border: 1px solid #d8d8d8; background: none;}

/****************************************** wallet create page *********************************/
.form-control[readonly] {
     background-color: #fff;
}
/****************************************** rquest ether *********************************/
 .request-modal {
  margin: 0;
  padding: 0;
  z-index: 1900;
}

.request-modal .card{
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 2000;
  padding: 60px 34px;
}

#closeButton {
    position: absolute;
    top: 30px;
    right: 30px;
    margin: 0;
    height: 30px;
    width: 30px;
    border: none;
    color: #000;
    background: none;
    font-size: 36px;
}
#closeButton1:hover {
  cursor: pointer;
  cursor: hand;
}
#closeButton2 {
  display: none;
}
.request-ether .form-control {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #b5b1b1;
}
.request-modal .card h2 {
    font-weight: 600;
    font-size: 2.5625rem;
}

form textarea {
  resize: none;
}

.button-space {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

span h2{ font-size: 30px; font-weight: 900; margin: 18px 6px;text-align: center;}

.input-group {border: 1px solid #ccc; width:100%; }
.bdr-none{border:none !important;}


.input-group .form-input {
    display: block;
    width: 100%;
    height: 65px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-left: 1px solid #D8D8D8;
    border-radius: 2px;
    margin: 0;
    outline: none;
}
.input-group .input-group-addon {
    padding: 0;
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0px;

}
.input-group input { font-size: 24px; font-weight: bold; }

.input-group-addon h4{font-size:14px; margin: 0; text-transform: uppercase;}

.base-txt img{width: 20px;margin-top: 8px;}

.base-txt { height: 30px; display: flex; justify-content: center; align-items: center; }

.base-txt h4 {font-size: 28px ; font-weight: bolder;}

.super-txt{border-bottom:1px solid #999; padding: 2px 6px; height: 20px; max-height: 20px; }
/****************************************** request-model page end *********************************/

.spinner {
  position: fixed;
  background-size: cover;
  height: 100vh;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1500;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgba(255,255,255,.9);
}
.spinner > div {
  display: flex;
  justify-content: center;
  align-items: center;/*
  */
  zoom: 150%;
  padding: 10px;
 /* border: 3px solid #35D4B0;*/
  width: 150px;
  height: 150px;
  border-radius: 80px;
}

@keyframes rotate {
  from { transform:rotate(0deg);  }
  to { transform:rotate(360deg); }
}

.spinner img {

-webkit-animation:rotate 1s ease-in-out infinite;
-o-animation:rotate 1s ease-in-out infinite;
animation:rotate 1s ease-in-out infinite;
}

/****************************************** login_page *********************************/

.fullPage {
    background: #315F96 url(/assets/img/bg_teal.jpg) no-repeat center;
    background-size:cover;
    min-height: 100vh;
    padding:5% 15px;
}

.pt-2 {
  padding: 2% 15px;
}

.card {
    padding: 40px;
    background:#fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
}

.pop-alert-box {
    max-width:500px;
    padding: 40px;
background: #FFFFFF;
box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.30);
border-radius: 8px;
position: fixed;
left:50%; top:50%; -webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
.pop-alert-box p {
    font-size:16px;
    word-spacing: 1px;
}
.block h2 { text-transform: uppercase;

font-size: 24px;}


.converter-box { margin:0 -20px; position: relative;}
.converter-box:after { clear: both; }
.converter-box:after, .converter-box:before { display: table; content:""; }
.money-input { width:50%; float: left; position: relative; padding:0 20px; }
.money-input + span { position: absolute;
    left: 50%;
    margin-left: -16px;
    top: -10px;}
.amount-currency-symbol { display: none; }

.imgHolder { display: block; height:35px; margin-bottom: 10px; text-align: center; }

.tabs {  border:1px solid #50E3C2; border-radius:6px; margin:40px auto;
background: white;  }
.tabs > div a { cursor: pointer; padding:10px; display: block;  position: relative; color:#333;
}

.tabs .active a:after, .tabs .active a:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tabs .active a:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.tabs .active a:before {
  border-color: rgba(55, 212, 177, 0);
  border-top-color: #37D4B1;
  border-width: 11px;
  margin-left: -11px;
}
.tabs > div:first-child a { border-right:1px solid #ccc; }



.text-white, .text-white:hover { color:#fff; }

.text-align{ text-align: left; margin-top: 10px;}

.text-sm { font-size:100%; }
.mg-top-sm { margin-top:20px }
.mg-btm-sm { margin-bottom:20px; }

.card .form-control, .card .btn { margin-top:20px; }
.logo-icon { max-width:72px;}

.align-center{text-align: center;}

.color-blue{color:#00ace6;}

.color-black{color: #333; padding: 10px 0;}

.card-center {
  box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.30);
  margin:50px auto;
}
.btn-marg{margin: 20px;}
.btn-blue{ background: #00ace6; text-align: center;padding:15px 50px; border: none;}
.btn-cyan { background: #37D4B1; color:#000; }
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  color:#fff;
    text-transform: uppercase;
   padding:10px 25px;
background-image: linear-gradient(-180deg, #68ECD9 0%, #37D4B1 100%);
border:1px solid #37D4B1;
margin-bottom: 10px;
}

.block {
  max-width:500px; box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.30);
  padding:30px; height:auto; position: relative; border-radius: 5px;
-webkit-transition:all .3s ease-in-out;
 -o-transition:all .3s ease-in-out;
 transition:all .3s ease-in-out; }

.block-center { margin:0 auto; }

.block.bg-gray {
-webkit-transform: translateX(-100%);
-ms-transform: translateX(-100%);
-o-transform: translateX(-100%);
transform: translateX(-100%);
opacity: 0;
}

input:focus, input:active { outline:0; }
.form-control:focus { box-shadow: 0 0 5px #50E3C2; border-color:#50E3C2;  }

.block input, .block textarea { margin-bottom:20px; }
.block .btn { text-transform: uppercase; }

.container-md { padding-bottom: 10vh; }

.bg-white { background:white; }

.bg-cyan { background: #37D4B1; }

.bg-blue { color:#fff;background-image: linear-gradient(90deg, #00D6F4 0%, #00ACE6 100%);}

.bg-blue a, .bg-blue a:hover { color:#fff; }

.bg-blue .form-control { border-color: transparent; }

.red { color:#e32020; position: relative;}
.red:after {
  top: 50%;
  right:-15px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(227, 32, 32, 0);
  border-top-color: #e32020;
  border-width: 5px;
  margin-left: -5px;}

.green { color:#7ED321; position: relative; }
.green:after {
  top: 20%;
  right:-15px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(227, 32, 32, 0);
  border-bottom-color: #7ED321;
  border-width: 5px;
  margin-left: -5px;}


.block p.text-sm {bottom:40px; left:40px; padding-top: 20px;}

.withQr { width: calc(100% - 50px); float: left; margin-right:10px; }

.qr { padding-top: 5px; display: inline-block; cursor: pointer; }

.qr { -webkit-transition:transform .2s ease-in-out;
-o-transition:transform .2s ease-in-out;
transition:transform .2s ease-in-out;

-webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5); }


.showQr .qr { -webkit-transform: scale(3);
-ms-transform: scale(3);
-o-transform: scale(3);
transform: scale(3); }

.block .form-group b { text-transform: uppercase;  }

/******************************* creat wallet  **************************************/
.list-left {
    float: left;
    text-align: left;
}

.list-right {
    float : left;
    text-align: left;
    margin:-10px 0 20px ;
}

#walletform .text-muted li {
    opacity: 1;
}
#walletform li {
  opacity: 0.5; color:#000;

}
.bg-teal { background-color:#50E3C2; }
.bg-light-teal { background-color:#ccfff5; }
.bg-vl-teal { background-color:#e6fffa; }
.bg-gray { background-color: #808080; }
.bg-dark-gray { background-color: #444; color:#fff; }
.bg-light-gray { background-color:#b3b3b3; }
.bg-vl-gray { background-color:#f2f2f2; }
.bg-white-trans { background-color: rgba(255,255,255,.9); }
.bg-dark-teal { background-color: #37D4B1;}
.dark-teal { color: #37D4B1;}
.bg-black { background-color:#000; color:#eee;}

#walletform li.text-muted {
    opacity: 1;
    list-style: none;
    margin-left: -18px;
}
li.text-muted:before{

    content: '\2713';
    margin: 0 8px 0 0;

}

.overflow-hidden {
    overflow: hidden;
    max-height: 100vh;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/******************************************** creat wallet ends**************************/

.banner{ background: url(/assets/img/bg_teal.jpg) no-repeat center bottom fixed;
  background-size:cover; text-align: center; color:#fff; padding:10vh 0;
  }


.nav-block > ul > li{
  list-style: none;
  display: inline-block;
  margin:5px 10px;
}

.card { max-width: 500px;}

.text-align{ text-align: right; margin-top: 0;}

.text-sm { font-size: 90%; }
/********************** CREAT WALLET RESPONSIVE *************************/
.list-left {
    float: left;
    text-align: left;
    margin-bottom: 20px;
    margin-top: -10px;
}

.list-right {
    float : right;
    text-align: left;
    margin-bottom: 20px;

}
.slide .block-center{
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
}
.block.bg-gray {
  min-height: 517px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
header + .container { padding-top:60px; padding-bottom: 60px; }

.input-group {border: 1px solid #ccc; width: 47%; }

.coins .container {
  position: relative;
-webkit-animation: tickerd 10s linear infinite ;
-o-animation: tickerd 10s linear infinite;
animation: tickerd 10s linear infinite;

}

@keyframes ticker {
  0% { top:0}
  /* 32% { top:0; }
  33% { top:-46px; }
  65% { top:-46px; }
  66% {top: -92px; }
  99% {top: -92px; } */
  45% { top: 0;}
  50% {top: -42px;}
  95% { top: -42px;}
  to { top: 0 }
}


.coins #top { overflow: hidden; }
.coins .row { margin-top:5px; margin-bottom: 5px; }
.coins p { margin-bottom: 0px; font-size:12px }

.bg-cyan.txt-white { color:#fff; }

.container-sm { max-width: 700px; margin:0 auto; }



.empty-section { padding:60px 0; }
.empty-section h2 { margin-top:0; }


.features { background: white; }
.features .row .col-lg-4:nth-child(3n+1) { clear: left; }

.copyLink { padding:5px 10px; background:#333; border:1px solid #999; border-radius:4px;
margin-right:20px; color:#fff;}

.bg-world { background:#fff url(../img/mapdots.png) no-repeat center; padding:100px 0 40px; }

.links-footer h5 { font-size:18px;  }

.messageBar { background:#F68F48; color:#000; text-align: center; padding:5px;
font-size: 12px; line-height: 20px;}

.clikableImg { transition:all .2s ease-in-out; padding:20px 10px; border:1px solid #ccc;float: left; }
.clikableImg:hover { box-shadow: 0 0 5px #ccc; background:#fff;}

.modal { background: url(../img/bg_teal.jpg) no-repeat; background-size: cover;}
.modal.visible { overflow: auto; }
.modal-header { font-size: 22px; }
.dropcap p:first-child:first-letter {
  color: #50E3C2;
  float: left;
  font-family: verdana;
  font-size: 60px;
  line-height: 50px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.visible { display: block !important; }

.bodyContent { min-height: 100vh; padding-bottom:128px;}
footer { margin-top:-128px;}

.btn-lg, .btn-group-lg > .btn { font-size:14px; }

.affix { margin-bottom:60px;
background: #F0F0F0; width:100%; position: relative;
border-bottom: 2px solid #ccc; text-align: center;
}

.affix ul { display:flex; }
.affix li { float: left; list-style:none; margin:10px 15px; }
.affix li a { cursor: pointer; display: block;
color:#454A75;
border-radius:5px;
 padding:5px 10px; }
.affix li img { margin-bottom: 10px;  }
.affix li span { display: block; }
.affix li a.active {  background:#37D4B1; color:#fff; }

  header { top:50px; }

.coins { background:#f2f2f2; height:50px; overflow: auto;
    position: relative; margin-bottom:75px;}
.messageBar a, .messageBar a:hover { color:#000; text-decoration: underline; }


@media screen and (min-width: 768px) {

.affix ul { display: inline-block; }

.banner-content h1 { font-size:32px }
.clikableImg { padding:20px 40px; }
.pd-all-md { padding: 50px;}

#nav-open-btn {
       display: none;
   }



   .bg-dark{
     width: 100%;
     background: #4a4a4a;
     padding: 50px;
   }
.pad-tp-btm{
     padding-top: 60px;
     padding-bottom: 60px;
   }
.links-footer{
     text-align:left;

   }
.links-footer form{
     background:none;
     width: 72%;
     padding:4px 0px 6px 7px;
     border-radius: 3px;
     display: inline;
}
.social-btns {
    padding: 10px;
  }
  .social-btns ul li{
    margin-right: 20px;
  }
  .pop-alert-box p{
      font-size:20px;
      word-spacing: 1px;
  }

  .block p.text-sm { bottom:40px; left:40px; width: 90%;}

  .request-modal {
    background: rgba(0,0,0,0.7);
    position: fixed;
    background-size: cover;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* padding: 10% 0; */
    padding: 50px;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  .request-modal .card{
    min-height: 0;
    min-width: 0;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0 auto;
  }
  #closeButton {
    display: none;
  }
  #closeButton2 {
    display: inline-block;
  }

}


@media screen and (min-width:1024px)
{
.nav-block > ul > li { margin-left: 30px; margin-right:30px; }

}

 @media screen and (max-width:768px) {

  .media-left img { max-width:100% }
    h2, .h2 { font-size:24px; }
    .media-left, .media-right, .media-body { display: block; }

  }/*

  .ptn { background: url(../img/ptn.jpg); }
*/


.list-group-item h3 {    font-size: 16px;
    background: #eee;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 0 20px;}



@media screen and (max-width:600px){

.logo { max-width: 200px; }
footer .col-lg-4.text-center { display: none; }
}




