body {
    background: #fff;
    font-family: "SourceSansPro-Regular", sans-serif;
    font-size: 16px;
}

.fullPage {
    background: #315F96 url(../img/bg.jpg) no-repeat center;
    background-size:cover;
    min-height: 100vh;
    padding:10% 0;
}

.card {
    padding: 40px;
    background:#fff;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

.block h2 { text-transform: uppercase;
font-family: "SourceSansPro-Bold";
font-size: 32px;}

.text-white { color:#fff; }

.text-sm { font-size:90%; }
.mg-top-sm { margin-top:20px }
.mg-btm-sm { margin-bottom:20px; }

.card .form-control, .card .btn { margin-top:20px; }

.logo-icon { max-width:72px;}

.card-center {
  box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.30);
    margin:0 auto; }

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  text-transform: uppercase;
    background-image: linear-gradient(-179deg, #32C1F0 0%, #076E90 100%);
    border: 1px solid #00ACE6;
    box-shadow: inset 0px 1px 0px 0px rgba(204, 242, 255, 0.69);
    border-radius: 2px;
}

@font-face {
font-family:"SourceSansPro-ExtraLight";
src: url(../fonts/SourceSansPro-ExtraLight.ttf) format('truetype');
font-style: normal;
font-weight:lighter;
}

@font-face {
font-family:'SourceSansPro-Regular';
src: url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
font-style: normal;
font-weight: 400;
}


@font-face {
font-family:'SourceSansPro-Bold';
src: url(../fonts/SourceSansPro-Bold.ttf) format('truetype');
font-style: normal;
font-weight: 400;
}


header{
  margin-top: 25px;

  max-height: 70px;
  /* Rectangle 6: */
/* Rectangle 6: */
background-image: linear-gradient(-180deg, #737373 0%, #262626 48%, #000000 48%, #000000 100%, #7F7F7F 100%);}
.logo{
  margin-top: -30px;
  width: 250px;
  float: left;
}
nav{
  height: 75px;
  float: right;
  text-align: center;
}
nav ul {
  margin-top: 20px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin:0 30px;
}
nav ul li a{
  text-align: center;
  color: #fff;
  font-weight: 700;
}
nav ul li a:hover{
  text-decoration: none;
  color:#00abe3;
}
.banner img{
float: right;
}
.banner-content{
  margin-top: 130px;
  z-index: 1000;
  color: #4a4a4a;
}
.banner-content p{
  font-weight: 600;
  font-size: 16px;
  word-spacing: 2px;
}
.banner-text{
  font-family: "SourceSansPro-ExtraLight";
  font-size: 50px;
  margin-top: 20px;
}
.banner-content button{
  width: 180px;
  background: #00ace6;
  padding:10px;
  border: none;
  border-radius:3px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}
.bg-dark{
  width: 100%;
  background: #4a4a4a;
  padding: 50px;
}
.bg-dark p, h1{
  color: #fff;
  line-height: 1.6;
}
.services{
  background: #fff;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 150px;
}
.icon{
  vertical-align: middle;
}
.empty-section{
  background:#f0f0f0;
  min-height: 300px;
}
.link-section{
  background: #4a4a4a;
  padding:100px;
}
.links ul{
  padding: 0;
}
.links ul li{
  list-style: none;
}
.links a {
color: #fff;
}
.links h2,h3{
color: #fff;
}
.links p{
color: #fff;
}
.links a:hover{
  color:#00abe3;
  text-decoration: none;
}
.links form{
  background: #fff;
  width: 70%;
  padding:4px 0px 6px 7px;
  border-radius: 3px;
}
.links button, input{
  border: none;
  outline:hidden;
  background: none;
}
.language{
  width: 80%;
  padding-top: 50px;
  margin: 0 auto;
  color:#fff;
  text-align: center;
}
footer{
  background:#2a2a2a;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.socialbuttons{
  text-align: center;
  padding: 10px;
}
.socialbuttons img{
  padding: 10px;
}
.socialbuttons p{
  margin: 10px auto 10px;
  text-align: center;
}
.socialbuttons button{
  background:#2a2c2d;
  padding: 0;
  border:none;
  outline:none;

}
.sl-country{padding: 6px 12px; width: 100%; margin-top: 20px; color:#999; border-color: #d8d8d8; border-radius:2px;}

.block { height: 100%; padding:40px; height:510px; position: relative;
-webkit-transition:all .3s ease-in-out;
 -o-transition:all .3s ease-in-out;
 transition:all .3s ease-in-out; }
.block-center { position: relative; z-index: 90; -webkit-transform: translateX(50%);
-ms-transform: translateX(50%);
-o-transform: translateX(50%);
transform: translateX(50%); }


.block.bg-gray { -webkit-transform: translateX(-100%);
-ms-transform: translateX(-100%);
-o-transform: translateX(-100%);
transform: translateX(-100%);
opacity: 0;
}

.slide .block-center, .slide .block.bg-gray { -webkit-transform: translateX(0);
-ms-transform: translateX(0);
-o-transform: translateX(0);
transform: translateX(0);
opacity: 1; }


.block .btn { text-transform: uppercase; font-family: "SourceSansPro-Bold";  }
.container-md { width:1024px; margin:80px auto; }


.container-md>.row>[class*="col-"] { padding:0; }

.container-md>.row { margin:0; }

.bg-white { background:white; }

.bg-blue { color:#fff;
background-image: linear-gradient(90deg, #00D6F4 0%, #00ACE6 100%);}

.bg-blue a, .bg-blue a:hover { color:#fff; font-family: "SourceSansPro-Bold";}

.bg-blue .form-control { border-color: transparent; }

.block p.text-sm { position: absolute; bottom:40px; left:40px; width: 90%;}

.withQr { width: calc(100% - 50px); float: left; margin-right:10px; }

.qr { padding-top: 5px; display: inline-block; cursor: pointer; }

.qr { -webkit-transition:transform .2s ease-in-out;
-o-transition:transform .2s ease-in-out;
transition:transform .2s ease-in-out;

-webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5); }

.bg-gray { background-color:#F0F0F0; }

.showQr .qr { -webkit-transform: scale(3);
-ms-transform: scale(3);
-o-transform: scale(3);
transform: scale(3); }

.block .form-group b { text-transform: uppercase; font-family: "SourceSansPro-Bold"; }

.block .form-group { margin-bottom: 40px; }
/*

.buttonWithLoader button:focus, .buttonWithLoader button:active { color:transparent;  }

.buttonWithLoader { position: relative; }

.buttonWithLoader:active:before, .buttonWithLoader:focus:before { content: ""; background: url(../img/loadingicon.gif) no-repeat center; width:32px; height: 32px; position: absolute;
left:50%; top:10px; }
*/
