<nav id="nav" role="navigation" [class.open]='navOpen === true'>
    <a id="nav-open-btn" (click)="navOpen=!navOpen">
        <button class="hamburger" type="button"width="50" height="50">
        <span class="hamburger-inner"></span>
        <span class="hamburger-inner"></span>
        <span class="hamburger-inner"></span>
        </button>
    </a>
    <div class="navBar">
        <div class="nav-block">
            <div class="logo"></div>
            <ul>
                <li *ngFor="let menuItem of menuItems" >

                    <div *ngIf="menuItem.subroutes" class="dropdown" >
                      <ul class="dropdown-menuBar">
                          <li *ngFor="let subroute of menuItem.routes" >
                            <a [routerLink]="[subroute.path]">
                                {{subroute.title}}
                            </a>
                          </li>
                      </ul>
                      <a [routerLink]="[menuItem.path]" [class.active]="isActive(menuItem,activeLink)">
                          {{menuItem.title}}  <span *ngIf="menuItem.subroutes" class="caret"></span>
                      </a>
                    </div>
                    <a *ngIf="!menuItem.subroutes" [routerLink]="[menuItem.path]" [class.active]="menuItem.path === activeLink">
                        {{menuItem.title}}  <span *ngIf="menuItem.subroutes" class="caret"></span>
                    </a>
                </li>
            </ul>
            <a class="close-btn" id="nav-close-btn" href="#top"></a>
        </div>
    </div>

</nav>
