<!-- Wallet Creation Info  -->
<div class="container-md" *ngIf="!ready">
    <div class="card card-center card-md-p align-center">
        <img src="../../assets/img/key-icon.svg" alt="key" class="img-responsive">
        <div class="pop-alert">
            <h1 class="color-black"><b>We don't store your keys</b></h1>
            <p p-font-size>We believe in user privacy and we regard ourself as <span class="color-blue">Trusted</span> place to make transactions</p>
            <button (click)="isReady()" type="button" name="ok_go_it" class="btn  btn-primary"> <b>Ok, Got it</b></button>
        </div>
    </div>
</div>




<!-- Wallet Creation Page -->
<div *ngIf="ready">
    <div class="container-md">


<nav class="affix clearfix" >

<ul class="nav">
 <li>
 <a class="active" [routerLink]="['/bitcoin/wallet']"><span>Create Wallet</span></a>
 </li>

  <li>
 <a  [routerLink]="['/bitcoin/info']"><span>View Wallet</span></a>
 </li>

  <li>
 <a  [routerLink]="['/bitcoin/send']"><span>Send Bitcoin</span></a>
 </li>

  <li>
 <a  [routerLink]="['/bitcoin/request']"><span>Request Bitcoin</span></a>
 </li>

</ul></nav>

            <div *ngIf="!wallet">
                <div class="block block-center bg-vl-gray align-center">
                <img src="assets/img/bitcoin.png" alt="bitcoin" style="max-width: 50px;" />
                    <h2> Create bitcoin wallet </h2>
                    <br/>
                    <p>It is safe to create bitcoin wallet with us. Start enjoying benefits of bitcoin so don't let the time to be wasted.</p>
                    <div class="buttonWithLoader">
                        <button type="submit" id="createButton" class="btn btn-primary btn-block btn-lg" (click)="create()">Create Wallet</button>
                    </div>
                </div>
            </div>
                <div *ngIf="wallet" class="block block-center bg-vl-gray align-center">
                    <h2>Wallet Ready!</h2>
                    <img width="50" height="50" style="border-radius: 25px;" src="{{ blockie }}">

                    <div class="form-group mg-top-sm">
                        <b>Address (Compressed)</b>
                        <div class="clearfix">
                            <input type="text" class="form-control withQr" value="{{ wallet.address }}" readonly>

                            <span class="{{ qrClass }}" (click)="qrToggle()">
                                <svg class="qr" width="40px" height="40px" viewBox="0 0 40 40">
                                    <path [attr.d]="qrSvg"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <b>Private Key (WIF)</b>
                        <div class="clearfix">
                        <input type="text" class="form-control withQr" value="{{ wallet.privateKey }}" readonly>
                        <span class="{{ qrPrivateClass }}" (click)="qrPrivateToggle()">
                                <svg class="qr" width="40px" height="40px" viewBox="0 0 40 40">
                                    <path [attr.d]="qrPrivate"></path>
                                </svg>
                            </span>
                            </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary btn-lg" (click)="printPaperWallets()">Print Wallet</button>
                        <br>
                        <!-- <button class="btn btn-link btn-lg" [disabled]="true" (click)="toggleModal()">Request Bitcoin</button> -->
                    </div>
                </div>
            </div>
    </div>
<!--- Ether Request Modal -->
<div *ngIf="modalVisible" class="request-modal">
    <div class="card">

        <h2>Request Ether</h2>
        <form [formGroup]="requestEtherForm">
            <input class="form-control" formControlName="email" type="email" placeholder="Email...">

            <!-- Currency Converter Box Start -->
            <app-converter-box [baseImage]='"assets/img/Ethereum.png"' [bid]='ethusd.value' baseName='eth' quoteName='usd' (on_change)="converter($event)"></app-converter-box>

            <span *ngIf="ethusd?.time" style="color:#bbb;font-size:14px;">** The exchange rate is as of {{ ethusd?.time}}</span>
            <!-- Currency Converter Box End -->

            <textarea class="form-control" formControlName="message"></textarea>
        </form>
        <button class="btn btn-primary btn-lg" [disabled]="!requestEtherForm.valid" (click)="requestEther()">Request</button>
        <button class="" id="closeButton" (click)="toggleModal()">x</button>
        <button class="btn btn-link btn-lg" (click)="toggleModal()">Close</button>
    </div>
</div>


<!-- Blocks with Action -->
<!-- <div class="blocks">
    <ul>
        <li>
            <a class='list-item' href=''>
                Create
            </a>
        </li>
        <li>
            <a class='list-item' href=''>
                View
            </a>
        </li>
        <li>
            <a class='list-item' href=''>
                Send
            </a>
        </li>
        <li>
            <a class='list-item' href=''>
                Request
            </a>
        </li>
    </ul>
</div> -->
