<div [class.overflow-hidden]="busy">
    <div class="coins">
        <div *ngIf="coins" id="top">
            <div class="container">
                <div class="row" *ngFor="let coin of coins">
                    <div class="col-lg-2">
                        <img src="{{images[coin.symbol]}}" style="width:25px;" />
                        <strong>{{ coin.symbol}}</strong>
                        <div><a class="text-sm" href="http://coinmarketcap.com">By: CoinMarketCap</a></div>
                    </div>
                    <div class="col-lg-2">
                        <p>Price</p>
                        <strong>  $ {{ coin.price_usd }} </strong></div>
                    <div class="col-lg-2">
                        <p>Change 1h </p>
                        <strong [ngClass]="coin.percent_change_1h < 0 ? 'red' : 'green'">{{ coin.percent_change_1h }}</strong>
                    </div>
                    <div class="col-lg-2">
                        <p>Change 24h</p>
                        <strong [ngClass]="coin.percent_change_24h < 0 ? 'red' : 'green'">{{ coin.percent_change_24h }}</strong>
                    </div>
                    <div class="col-lg-2">
                        <p>#coins</p>
                        <strong>{{ coin.total_supply }}</strong>
                    </div>
                    <div class="col-lg-2">
                        <p>24h Volume</p>
                        <strong>$ {{ coin['24h_volume_usd'] }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header id="page-top" [class.sticky]="sticky">
        <div class="container">
            <div class="pull-left logo">
                <img src="../assets/img/logo.svg" alt="logo" class="img-responsive">
            </div>
            <app-nav-bar class="pull-right"></app-nav-bar>
        </div>
    </header>
    <router-outlet></router-outlet>
</div>

<div *ngIf="busy" class="spinner">
    <div>
        <img width="100" height="100" src="/assets/img/logo-anim.gif" />
    </div>
</div>