<!--<h1>
  {{title}}
</h1>
<nav>
  <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
  <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
  <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
</nav>
<router-outlet></router-outlet>
-->
<div class="container-fuild">
    <div class="menu">
      <header>
      <div class="container">
        <div class="logo">
          <img src="../assets/img/logo.png" alt="logo" class="img-responsive">
        </div>
          <nav>
              <ul>
                <li><a href="">Ethereum</a></li>
              </ul>
              <ul>
                <li><a [routerLink]="['/dashboard']" routerLinkActive="active">Wallet</a></li>
              </ul>
              <ul>
                <li><a [routerLink]="['/login']" routerLinkActive="active">Sign In</a></li>
              </ul>
              <ul>
                <li><a [routerLink]="['/register']" routerLinkActive="active">Sign Up</a></li>
              </ul>
          </nav>
        </div>
      </header>
    </div>

    <router-outlet></router-outlet>

  </div>