<!--+++++++++++++++++++++++++++++++++++++++Banner section++++++++++++++++++++-->
<div class="banner">
  <div class="container">
    <div class="banner-content">
      <div>
        <!-- <canvas id="demo-canvas"></canvas>  -->
        <h1>Secure and Simplified Solutions for Blockchain Transactions</h1>

<div style="margin-top:40px">
        <a href="#getStart" class="btn btn-primary btn-lg" type="button" name="Join_now">Get Started</a><br/>
        <a href="javascript:void(0)" (click)="showModal()" class="text-white">New to Blockchain?</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--+++++++++++++++++++++++++++++++++++++++why we need section++++++++++++++++++++--><!--
<div class="empty-section">
  <div class="container-sm">
    <h2>Why we need BlockAction Digital Asset Wallet?</h2>
    <div class="media">
    <div class="media-left">
 <img style="max-width: 200px; margin-right:20px;" src="/assets/img/img_square.png">
    </div>
    <div class="media-body">
      <p>The blockchain technology is widely accepted because of its features - anonymity, anytime accessibility, security, preventing censorship, inexpensive etc. Basically, blockchain users are empowered.
Today, many people are purchasing digital asset considering it as an investment due to its increasing monetary value, but are keeping it on an exchange. Not only you compromise with your identity, privacy and money, you are actually not having any control on your <b>private key</b>.
    </p>
    </div>
    </div>
  </div>
</div> -->

<!--+++++++++++++++++++++++++++++++++++++++services section++++++++++++++++++++-->



<div class="empty-section bg-world text-center" id="getStart">
  <div class="container-sm">
  <h2>What is BlockAction</h2>
    <p class="lead">
      BlockAction creates the most secured digital asset wallet, provides user friendly interface, simplify the blockchain transaction and make it usable by mainstream users. At present we support
    </p>
    <div class="clearfix" style="display: inline-block;">
    <a class="clikableImg"  style="margin-right:40px;" [routerLink]="['/bitcoin/wallet']"><img src="/assets/img/bitcoin.png" height="100px;"></a>
    <a  class="clikableImg" [routerLink]="['/ethereum/wallet']" href="#"><img src="/assets/img/ethereum.png" style="margin:0 18px;" height="100px;"></a>

    </div>
  </div>
</div>


<div class="four-col-box pad-tp-btm features">
  <div class="container icon pad-none">
    <h2>Why choose BlockAction ?</h2>
    <p style="max-width:600px; margin:0 auto;">BlockAction is created to shift power back to user to control their asset without any intermediaries. It enables user with full control on wallet. Key features of our wallet are</p>
    <div class="row">
      <div class="col-lg-4">
        <img src="/assets/img/img1.png" alt="Wallet Logo">
        <h3>Free Wallet</h3>
        <p>We provide free offline wallet creation facility which ensures complete safety of your wallet. You don’t need to download entire node on your machine.</p>
      </div>
      <div class="col-lg-4">
        <img src="/assets/img/img2.png" alt="Wallet Logo">
        <h3>Privacy</h3>
        <p>We respect user’s privacy. Transactions are completely anonymous.</p>
      </div>
      <div class="col-lg-4">
        <img src="/assets/img/img3.png" alt="Wallet Logo">
        <h3>Security</h3>
        <p>Transaction is performed through Encrypted SSL connection over HTTPS.</p>
      </div>
      <div class="col-lg-4">
        <img src="/assets/img/img4.png" alt="Wallet Logo">
        <h3>Real Time Transaction Status</h3>
        <p>We provide real time status and transaction history for user’s convenience.</p>
      </div>
      <div class="col-lg-4">
        <img src="/assets/img/img5.png" alt="Wallet Logo">
        <h3>Multi-device supported</h3>
        <p>Our popular wallet works on your mobile phone and tablets in addition to your computer. User can access their wallet
          from any device and perform the transactions, no need to download the blockchain.</p>
      </div>
      <div class="col-lg-4">
        <img src="/assets/img/img6.png" alt="Wallet Logo">
        <h3>Full Control of Private Key</h3>
        <p>BlockAction allows user to create wallet with password and generate private key on local machine. User has full control over the wallet.</p>
      </div>
    </div>
  </div>
</div>


<!--+++++++++++++++++++++++++++++++++++++++more text section++++++++++++++++++++-->


<div class="empty-section bg-vl-gray ptn">
<div class="container">
<div class="media">
<div class="media-left">
<img src="/assets/img/howItworks.png" style="margin-bottom:60px;
margin-right: 60px;" />
</div>


<div class="media-body">
<h2>How BlockAction Works</h2>

<p class="lead">BlockAction is the most secured and easy to use interface to create wallet and perform transactions on blockchain. Our mission is to simplify the process to make it usable by mainstream users.
</p>

</div>
</div>
</div>
</div>


<!--++++++++++++++++++++++++++++++++++++++++We provide section++++++++++++++++++++-->
<div class="bg-teal" id="howitworks" style="display: none;">
  <div class="container">
    <div class="col-lg-8 pad-none">
      <h1>How it works</h1>
      <p>We provide offline wallet creation facility which ensures complete safety of your wallet.</p>
    </div>
    <div class="col-lg-4 pad-topbottom">
      <img src="/assets/img/create.gif" alt="video image" class="img-responsive">
    </div>
  </div>
</div>


<!--+++++++++++++++++++++++++++++++++++++++empty section++++++++++++++++++++-->
<!-- <div class="empty-section">
  <div class="container">
    <h2>Have Questions?</h2>
  </div>
</div> -->

<!--+++++++++++++++++++++++++++++++++++++++links section++++++++++++++++++++-->
<section class="pd-all-md bg-dark">
  <div class="container links-footer pad-none">
    <div class="col-lg-8">
      <div class="col-lg-3">
        <h5>About Us</h5>
        <ul>
          <li><a href="javascript:void(0)" (click)="showContact()">Contact Us</a></li>
          <li><a href="javascript:void(0)" (click)="showPopup()">Vision & Mission</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>Bitcoin</h5>
        <ul>
          <li><a [routerLink]="['/bitcoin/wallet']">Create Wallet</a></li>
         <!--  <li><a [routerLink]="['/bitcoin/send']">Send Bitcoin</a></li> -->
          <li><a [routerLink]="['/bitcoin/info']">View Wallet</a></li>
          <li><a [routerLink]="['/bitcoin/send']">Send BTC</a></li>
          <li><a [routerLink]="['/bitcoin/request']">Request BTC</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>Ethereum</h5>
        <ul>
          <li><a [routerLink]="['/ethereum/wallet']">Create Wallet</a></li>
          <li><a [routerLink]="['/ethereum/info']">View Wallet</a></li>

          <li><a [routerLink]="['/ethereum/send']">Send ETH</a></li>
        <li><a [routerLink]="['/ethereum/request']">Request ETH</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>Media</h5>
        <ul>
          <li><a href="">Press</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 links-footer ">
      <form action="" class="bg-light" [formGroup]="subscription">
        <input type="email" class="form-control" formControlName="email" placeholder="Type your email">
        <button (click)="subscribe()" [disabled]="!subscription.valid" class="btn btn-primary btn-block ">Subscribe Newsletter</button>
      </form>

      <div class="social-btns">
      <ul>
        <li><a href=""><span class="icon-facebook"></span></a></li>
        <li><a href=""><span class="icon-twitter"></span></a></li>
      </ul>
</div>
    </div>
  </div>
</section>

<div class="modal" [class.visible]="shownPopup">
<div class="modal-dialog">
<div class="modal-content dropcap">
<div class="modal-header">
 <button type="button" class="close" (click)="showPopup()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

Vision &amp; Mission
</div>

<div class="modal-body">
<p>We envision a decentralized world, where digital currency is not exclusive for geeks. Mainstream users should also get equal opportunity to participate and grow with this revolutionary technology called ‘Blockchain’.</p>
<p>
Our mission is to provide best digital wallet, simplify blockchain transaction and provide user-friendly interface. In order to bring cryptocurrency to mainstream, we need to get their confidence by ensuring user about the security of their money, ease of usability and anonymity. We need to encourage people to be their own bank.
</p>
<p>
BlockAction is committed to provide best services to the users.</p>

</div>
</div>
</div>
</div>




<div class="modal" [class.visible]="shownModal">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
 <button type="button" class="close" (click)="showModal()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

New to Blockchain?
</div>

<div class="modal-body">

<ul class="list-group">
  <li class="list-group-item">
  <h3>What is Blockchain Technology?</h3>
<div class="detail dropcap"><p>The blockchain is the latest revolution in technology world. It is a combination of network and database. The idea of a blockchain is based on a ledger which is distributed across the globe. </p>

<p>
In simpler words, blockchain is a distributed database that maintains a continuously growing list of records (blocks). Every transaction that is being recorded in each block is being recorded simultaneously on many other computers through peer-to-peer network. Data on blockchain are highly secured, can never be changed or deleted, has faster access and is less expensive.
</p>
<p>
Know more about blockchain technology <a href="http://etherworld.co/topic/15/blockchain-beginner-s-guide-part-1" target="_blank">here</a>
</p>

</div>
  </li>
  <li class="list-group-item"><h3>What is Bitcoin?</h3>
<div class="detail dropcap">

<p>Bitcoin is the first decentralized digital currency also known as  <a href="etherworld.co/topic/81/a-beginner-s-guide-for-cryptocurrency" target="_blank">cryptocurrency</a>. It was designed by Satoshi Nakamoto (unknown) in 2009. These are digital coins (BTC) that can be sent through internet using peer to peer network, instantly across the globe without any government involvement for negligible fee. It is widely used for micropayments and ecommerce with blockchain as the core technology used.</p>

<p>
Know more about Bitcoin<a href="http://etherworld.co/topic/89/all-about-bitcoin-for-beginners" target="_blank"> here</a>.
</p>

</div>

  </li>
  <li class="list-group-item"><h3>What is Ethereum?</h3>

<div class="detail dropcap">
<p>
Soon, it was realized that blockchain technology can be used for various other applications and not just as currency. In Jan 2014, Vitalik Buterin and team announced another blockchain named as Ethereum.
</p><p>

Ethereum is an open source blockchain platform with built in programming language that allows developers to write, test and execute their decentralized application (contract). Any transaction performed is anonymous, parties involved are always unknown.
</p>
<p>
Ether (ETH) is the digital currency of Ethereum used for monetary transaction across the world just like Bitcoin.
</p>
<p>
Know more about Ethereum <a href="http://etherworld.co/topic/105/a-complete-guide-to-understand-ethereum-for-beginners"> here</a>.
</p>
</div>
  </li>

  <li class="list-group-item">
  <h3>What is a Digital Currency Wallet?</h3>

<div class="detail dropcap">
<p>
  A digital asset wallet also known as cryptocurrency wallet is a secured wallet used to store, send, and receive digital currency like Bitcoin, Ethereum and other altcoins. Since, the currency itself in in digital form, so the cryptocurrency wallet is a software program to store them.</p>

<p>Know more about Digital Asset Wallet <a href="http://etherworld.co/topic/83/an-introduction-to-cryptocurrency-wallet">here</a>.
</p>
</div>
</li>
</ul>

</div>
</div>
</div>
</div>





<div class="modal" [class.visible]="shownContact">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
 <button type="button" class="close" (click)="showContact()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
Contact Us
</div>


<div class="modal-body">

<form>
<div class="form-group">
<input class="form-control" type="text" placeholder="First Name" />
</div>


<div class="form-group">
<input class="form-control" type="text" placeholder="Last Name" />
</div>


<div class="form-group">
<input class="form-control" type="text" placeholder="Your Email Address Name" />
</div>


<div class="form-group">
<textarea class="form-control" placeholder="Type your message here...">
</textarea>
</div>

<div class="form-group">

<button class="btn btn-primary btn-block">Submit</button>

</div>
</form>

</div>
</div>
</div>
</div>




