<!-- Existing Wallet Box -->
<div *ngIf="!ready" class="container-md">


    <nav class="affix clearfix">

        <ul class="nav">
            <li>
                <a [routerLink]="['/ethereum/wallet']"><span>Create Wallet</span></a>
            </li>

            <li>
                <a class="active" [routerLink]="['/ethereum/info']"><span>View Wallet</span></a>
            </li>

            <li>
                <a [routerLink]="['/ethereum/send']"><span>Send Ether</span></a>
            </li>

            <li>
                <a [routerLink]="['/ethereum/request']"><span>Request Ether</span></a>
            </li>

        </ul>
    </nav>

    <div class="block block-center bg-vl-gray inputBox">
        <img src="../../assets/img/ethereum.png" style="max-width:50px;"/>
        <h2>View Wallet</h2><br>
        <input class="form-control" placeholder="Address" [(ngModel)]="keyInput" (keyup.enter)="showCardFromKey()"/>
        <button [disabled]="!isValidAddress(keyInput)" class="btn btn-primary btn-lg" (click)="showCardFromKey()">View
            Wallet
        </button>
        <p>Enter address key in the above field to view your wallet information such as balance and transactions.</p>
        <br/>
        <!--<p>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;or&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
        <!--<button class="btn btn-link btn-lg" (click)="scanQr = true">Scan Qr</button>-->
        <!--<br><br>-->

    </div>
</div>


<!-- Scan Qr Box -->
<div *ngIf="scanQr" class="scanQrOverlay">
    <div class="scanQr">
        <h2>Scan Qr</h2><br>
        <p class="text-justify">Place your address Qr Code in front of the camera.</p>
        <qr-scanner
            [debug]="false"
            [canvasWidth]="640"
            [canvasHeight]="480"
            [mirror]="false"
            [stopAfterScan]="true"
            [updateTime]="500"
            (onRead)="decodedQrOutput($event)"></qr-scanner>
        <a class="btn btn-link btn-lg" (click)="scanQr = false">Dismiss</a>
    </div>
</div>


<!--- Wallet Info View -->
<div *ngIf="ready" class="container-md">

    <nav class="affix clearfix">

        <ul class="nav">
            <li>
                <a [routerLink]="['/ethereum/wallet']"><span>Create Wallet</span></a>
            </li>

            <li>
                <a class="active" [routerLink]="['/ethereum/info']"><span>View Wallet</span></a>
            </li>

            <li>
                <a [routerLink]="['/ethereum/send']"><span>Send Ether</span></a>
            </li>

            <li>
                <a [routerLink]="['/ethereum/request']"><span>Request Ether</span></a>
            </li>

        </ul>
    </nav>

  <div class="container">
                <div class="box bg-white">
                  <div class="clearfix">
                    <img class="identicon" width="50" height="50" src="{{ blockie }}"/>
                        <span class="h3">Address</span>
                <span class="text-lg">{{ wallet.address }}</span>
                    </div>
                  </div>

                    <div class="box bg-white">
                    <h3>Overview</h3>
                    <div class="row">
                      <div class="col-sm-6">
                      <table class="table">
                        <tr><td>ETH Balance</td>
                          <td>{{ balance }} <b>Ethers</b></td>
</tr>                          <tr><td>ETH USD Balance</td>
                            <td>$ {{ balance_usd }}</td></tr>

                            <tr><td>Total Transactions</td>
                              <td>3 billion txns</td>
                            </tr>
                          </table>
                        </div>

                        <div class="col-sm-6">
                          <span class="qrHolder">
                      <svg class="qr" width="500px" height="500px" viewBox="0 0 150 150">
                          <path [attr.d]="qrSvg"></path>
                      </svg>
                  </span>
                </div>
                </div>
              </div>

              <div *ngIf="pending" class="box bg-white">
                <div>
                    <div class="panel-heading">
                        <h3>Pending Transactions</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th>Block</th>
                                <th>Tx Hash</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Value</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>??????</td>
                                <td>{{ pending.hash }}</td>
                                <td>{{ pending.from }}</td>
                                <td>{{ pending.to }}</td>
                                <td>{{ toEther(pending.value?.toString()) }}</td>
                                <td>Pending</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
</div>
                <div class="box bg-white">
                    <h3>Transactions</h3>
                <div class="table-responsive">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th>Block</th>
                            <th>Tx Hash</th>
                            <th>Time</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let tx of transactions | paginate: config"
                            [class.in]="tx.to === wallet.address"
                            [class.out]="tx.from === wallet.address">
                            <td>{{ tx.blockNumber }}</td>
                            <td><a (click)="showTxDetail(tx)" style="cursor:pointer;cursor:hand;">{{ tx.hash }}</a></td>
                            <td>{{ (tx.timeStamp * 1000) | date : 'mediumDate' }} {{ (tx.timeStamp * 1000) | date :
                                'shortTime' }}
                            </td>
                            <td>
                                <div *ngIf="tx.from !== wallet.address;else fromText">
                                    <a style="color:dodgerblue" [routerLink]="['/ethereum/info']"
                                       [queryParams]="{address: tx.from}">{{ tx.from }}</a>
                                </div>
                                <ng-template #fromText>{{ tx.from }}</ng-template>
                            </td>
                            <td>
                                <div *ngIf="tx.to !== wallet.address;else toText">
                                    <a style="color:dodgerblue" [routerLink]="['/ethereum/info']"
                                       [queryParams]="{address: tx.to}">{{ tx.to }}</a>
                                </div>
                                <ng-template #toText>{{ tx.to }}</ng-template>
                            </td>
                            <td>{{ toEther(tx.value) }}</td>
                        </tr>
                        <tr *ngIf="transactions === null">
                            Loading Transactions...
                        </tr>
                        <tr *ngIf="transactions && transactions.length === 0">
                            No Transactions
                        </tr>
                        </tbody>
                    </table>
                    <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li [class.disabled]="p.isFirstPage()">
                                    <a aria-label="Previous" (click)="p.previous()">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                                    <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                                        <span>{{ page.label }}</span>
                                    </a>
                                    <a [class.active]="p.getCurrent() === page.value"
                                       *ngIf="p.getCurrent() === page.value">
                                        <span>{{ page.label }}</span>
                                    </a>
                                </li>
                                <li [class.disabled]="p.isLastPage()">
                                    <a (click)="p.next()" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </pagination-template>
                </div>
            </div>

        <div class="box bg-white">
                <a [routerLink]="['/ethereum/send']" class="btn btn-link btn-lg">
                  <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i> SEND</a>
                <a routerLink="/ethereum/request/{{wallet.address}}" class="btn btn-link btn-lg">
                  <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> REQUEST</a>

            </div>
          </div>
</div>

<!-- Transaction Detail Model -->
<div *ngIf="modalVisible" class="request-modal">
    <div class="card card-md">
        <strong>Block Height: </strong> {{ selectedTx.blockNumber }} <br>
        <strong>TimeStamp: </strong> {{ (selectedTx.timeStamp * 1000) | date }} <br>
        <strong>Transaction Hash: </strong> {{ selectedTx.hash }} <br>
        <strong>Nonce: </strong> {{ selectedTx.nonce }} <br>
        <strong>Block Hash: </strong> {{ selectedTx.blockHash }} <br>
        <strong>From :</strong> {{ selectedTx.from }} <br>
        <strong>to :</strong> {{ selectedTx.to }} <br>
        <strong>value :</strong> {{ selectedTx.value }} <br>
        <strong>Gas :</strong> {{ selectedTx.gas }} <br>
        <strong>Gas Price:</strong> {{ selectedTx.gasPrice }} <br>
        <strong>Gas Used: </strong> {{ selectedTx.gasUsed }} <br>
        <strong>Transaction Fee: </strong> {{ getTransactionFee(selectedTx.gasUsed, selectedTx.gasPrice) }} Ethers <br>
        <strong>Confirmations: </strong> {{ selectedTx.confirmations }} <br>
        <!-- <pre> {{ selectedTx | json }}</pre> -->
        <a class="btn btn-link btn-lg" (click)="this.modalVisible = false;">Dismiss</a>
    </div>
</div>
