<div class="fullPage">
    <div class="card card-center card-md-p">
        <div class="text-center">
            <img class="logo-icon mg-btm-sm" src="assets/img/logo-icon.png" alt="logo" />
        </div>
    <div *ngIf="message"
      class="alert alert-success">{{ message }}</div>
    <div *ngIf="error"
      class="alert alert-danger">{{ error }}</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

      <div formGroupName="name">

        <input formControlName="first" type="text" class="form-control" placeholder="First Name" required="required" />
        <div *ngIf="form.get('name.first').hasError('required') && form.get('name.first').touched"
          class="alert alert-danger">First Name is required.</div>

        <input formControlName="last" type="text" class="form-control" placeholder="Last Name" required="required" />
        <div *ngIf="form.get('name.last').hasError('required') && form.get('name.last').touched"
          class="alert alert-danger">Last Name is required.</div>
      </div>
      <input formControlName="username" type="text" class="form-control" placeholder="Username" required="required" />
      <div *ngIf="!form.get('username').valid && form.get('username').touched"
          class="alert alert-danger">Username must be at least 4 characters, no more than 15 characters. Alphanumeric characters are allowed. Special characters ._ are allowed. No spaces are acceptable. The starting character should be alphabet.</div>
      
      <input formControlName="email" type="text" class="form-control" placeholder="Email" required="required" />
      <div *ngIf="!form.get('email').valid && form.get('email').touched"
        class="alert alert-danger"> Email must be a valid one.</div>

      
      <input formControlName="password" type="password" class="form-control" name="p" placeholder="Password" required="required" />
      
      <div *ngIf="!form.get('password').valid && form.get('password').touched"
        class="alert alert-danger"> Password must be at least 6 characters, no more than 18 characters, and must include at least one upper case letter, one lower case letter, and one numeric digit.</div>
      
      <input formControlName="confirmPassword"  type="password" class="form-control" name="p" placeholder="Repeat Password" required="required" />
      <div *ngIf="form.errors?.mismatchedPasswords && form.get('confirmPassword').touched"
        class="alert alert-danger"> Passwords must match.</div>

      <input formControlName="country" type="text" class="form-control" placeholder="Country" required="required" />
      <div *ngIf="form.get('country').hasError('required') && form.get('country').touched"
        class="alert alert-danger"> Country is required.</div>
      
      <input formControlName="city" type="text" class="form-control" placeholder="City" required="required" />
      <div *ngIf="form.get('city').hasError('required') && form.get('city').touched"
        class="alert alert-danger"> City is required.</div>
      
      <input formControlName="phone" type="text" class="form-control" placeholder="Phone no" required="required" />
      <div *ngIf="form.get('phone').hasError('required') && form.get('phone').touched"
        class="alert alert-danger"> Phone is required.</div>

      <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block btn-lg mg-btm-sm">Register</button>

<p class="text-center">Alerady have account? <a href="#">Login</a></p>
    </form>
</div>
</div>
