<button class="btn btn-primary" (click)="goBack()" *ngIf="ready && !starterBox">Back</button>
<div class="main-box">

    <!-- --------------------------- Message Box ----------------------------- -->
    <div *ngIf="!ready">
        <img src="../../../assets/img/key-icon.svg" alt="key" class="img-responsive">
        <div>
            <h1 class="color-black txt-scale"><b>We don't store your keys</b></h1>
            <p p-font-size>We believe in user and we regard ourself as <span class="color-blue">Trusted</span> place to make transactions</p>
            <button (click)="isReady()" type="button" name="ok_go_it" class="btn-marg btn-blue text-white"> <b>Ok, Got it</b></button>
        </div>
    </div>

    <!-- --------------------------- Left Box ----------------------------- -->
    <!-- New Wallet Box -->
    <div *ngIf="ready && starterBox" class="left-box">
        <h2> NEW WALLET </h2>
        <button class="btn btn-primary" (click)="starterBox=false;showCreate=true;">Create Wallet</button>
    </div>


    <!-- --------------------------- Right Box ---------------------------- -->

    <!-- Existing Wallet Box -->
    <div *ngIf="ready && starterBox" class="right-box">
        <h2>EXISTING WALLET</h2>
        <button class="btn btn-primary" (click)="starterBox=false;showExisting=true;">Existing Wallet</button>
    </div>

    <!-- --------------------------- Center Box ---------------------------- -->

    <!-- Wallet Create Box -->
    <div *ngIf="ready && showCreate" class="create-box">
        <app-ethereum-wallet (on_card_show)="showCard($event)" (on_wallet_creation)="setWallet($event)" [reset]="reset"></app-ethereum-wallet>
    </div>

    <!-- Existing Wallet Box -->
    <div *ngIf="ready && showExisting" class="existing-box">
        <ul class="nav nav-tabs">
            <li [class.active]="existing === 'wallet'"><a (click)="existing='wallet'">Wallet File</a></li>
            <li [class.active]="existing === 'address'"><a (click)="existing='address'">Address</a></li>
        </ul>
        <div *ngIf="existing === 'wallet'">
            <label class="btn btn-default btn-file">
                Select wallet with sufficient funds <input type="file" (change)="readWalletFile($event)" style="display: none;">
            </label>
        </div>
        <div *ngIf="existing === 'address'">
            <input placeholder="Address Key" [(ngModel)]="addressInput">
            <button (click)="showCardFromAddress()">View Wallet</button>
        </div>
    </div>

    <!-- --------------------------- Card Pages Box ---------------------------- -->

    <div *ngIf="wallet && showDetail" class="cards-box">
        <app-ethereum-wallet-info [wallet]="wallet"></app-ethereum-wallet-info>
    </div>

</div>

