<header>
<div class="container">
  <div class="logo">
    <img src="../assets/img/logo.png" alt="logo" class="img-responsive">
  </div>
    <nav>
        <ul>
          <li><a href="">Ethereum</a></li>
          <li><a [routerLink]="['/dashboard']" routerLinkActive="active">Wallet</a></li>
          <li><a [routerLink]="['/login']" routerLinkActive="active">Sign In</a></li>
          <li><a [routerLink]="['/register']" routerLinkActive="active">Sign Up</a></li>
        </ul>
    </nav>
  </div>
</header>

<div *ngIf="!wallet" class="box">
  <h2>Load a existing wallet </h2>
  <form>
    <input type="file" (change)="fileChangeListener($event)">
  </form>
  <br />
</div>
<div *ngIf="!wallet" class="box">  
  <div *ngIf="isLoggedIn" (click)="logout()" class="logout">
    <button>Log Out</button>
  </div>
  
  <h2> Create a new wallet </h2>
  <br/>
  <div>
    <label>Wallet Password: </label>
    <input [(ngModel)]="password" placeholder="pass key..." />
  </div>
  <br />
  <button (click)="create()">Create</button>
</div>


<div *ngIf="wallet" class="box">
  <br />
  <div *ngIf="isLoggedIn" (click)="logout()" class="logout">
    <button>Log Out</button>
  </div>
  <h2> My Wallet </h2>
  <pre>
    <b>Ethers:     </b> <em>0.000{{ random }}</em>
      
    <b>Address:     </b> <em>{{ wallet.address }}</em>
    <div>
      <svg>
        <path [attr.d]="qrSvg" style="transform:scale(3.5)"></path>
      </svg>
    </div>
    <b>Private Key: </b> <em> {{ privateKey ? privateKey: '...' }}</em>
  </pre>
  <div> 
    <input [(ngModel)]="filePassword" placeholder="Enter wallet password..." />
    <button (click)="getKey()" >Get Private key </button>    
  </div>
  <br /><br />
  <div class="inbetween">
    <button (click)="saveWalletToFile()">Download Wallet</button>    
    <button (click)="deleteWallet()">Delete Wallet</button>  
  </div>
</div>