<div class="fullPage">
    <div class="card card-center card-md-p">
        <div class="text-center">
            <img class="logo-icon mg-btm-sm" src="../../assets/img/logo-icon.png" alt="logo" />
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <input formControlName="username" type="text" class="form-control" name="u" placeholder="Username" required="required" />
            <input formControlName="password" type="password" class="form-control" name="p" placeholder="Password" required="required" />
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block btn-lg mg-btm-sm">Login</button>
            <div class="row">
                <div class="col-md-6">
                    <a class="forgotPass text-sm" href="#">Forgot Password?</a>
                </div>
                <div class="col-md-6">
                    <p class="text-sm text-right">Don't have Account? <a href="#">Register</a></p>
                </div>
            </div>
        </form>
    </div>
</div>

