<nav id="nav" role="navigation" [class.open]='navOpen === true'>
    <div id="nav-open-btn" (click)="toggleNav()" >
        <ul>
          <li><a class="hamburger"  [class.active]="navOpen == true">
                <span></span>
              </a>
          </li>
        </ul>
    </div>
    <div class="navBar">
        <div class="nav-block">
            <div class="slidenav-logo"></div>
            <ul>
                <li *ngFor="let menuItem of menuItems" (click)="toggleNav()">

                    <div *ngIf="menuItem.subroutes" class="dropdown" >
                      <ul class="dropdown-menuBar">
                          <li *ngFor="let subroute of menuItem.routes" (click)="toggleNav()" >
                            <a [routerLink]="[subroute.path]">
                                {{subroute.title}}
                            </a>
                          </li>
                      </ul>
                      <a [class.active]="isActive(menuItem)" class="hide-menuitem">
                          {{menuItem.title}}
                      </a>
                    </div>
                    <a *ngIf="!menuItem.subroutes" [routerLink]="[menuItem.path]" [class.active]="isActive(menuItem)">
                        {{menuItem.title}}
                    </a>
                </li>
            </ul>
            <a class="close-btn" id="nav-close-btn" href="#top"></a>
        </div>
    </div>

</nav>
