<table align="center" cellpadding="0" cellspacing="0" width="100%" style="border:0px solid #ddd;">
  <tr>
    <td align="center">
      <table width="700px" style="background-color:#FFF;">
        <tr height="80px;">
          <td align="center">
            <table width="700px" style="background-color:#50e3c2 ;">
              <tr>
                <td align="center" style="padding:20px 20px 20px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#fff;font-size:22px;font-weight:300;letter-spacing:0.1em;">Block Action</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding:20px 20px 10px 20px; color:#7b7b7b ;font: 18px Lucida Grande, Helvetica, Arial, sans-serif;font-weight:600;">From: <%= title %></td>
        </tr>
        <tr>
          <td style="padding:0px 20px 0px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#757575 ;font-size:15px;line-height:1.7em;text-align:left;font-weight:none">Email: <%= header %></td>
        </tr>
        <tr>
          <td style="padding:0px 20px 0px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#757575 ;font-size:15px;line-height:1.7em;text-align:left;font-weight:none">Message: <%= body %></td>
        </tr>
        <tr>
          <td style="padding:0px 20px 0px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#757575 ;font-size:15px;line-height:1.7em;text-align:left;font-weight:none">Thanks,</td>
        </tr>
        <tr>
          <td style="padding:0px 20px 20px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#757575 ;font-size:15px;line-height:1.7em;text-align:left;font-weight:500">Support @BlockAction</td>
        </tr>
        <tr height="80px;">
          <td align="center">
            <table width="700px" style="background-color:#50e3c2 ;">
              <tr>
                <td align="right" style="padding:20px 20px 20px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#fff;font-size:13px;font-weight:300;letter-spacing:0.1em;">Block Action © 2017</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>