<!-- Existing Wallet Box -->




<div *ngIf="!ready" class="container-md">

<nav class="affix clearfix" >


    <ul class="nav">
        <li>
            <a  [routerLink]="['/ethereum/wallet']"><span>Create Wallet</span></a>
        </li>

        <li>
            <a  [routerLink]="['/ethereum/info']"><span>View Wallet</span></a>
        </li>

        <li>
            <a class="active" [routerLink]="['/ethereum/send']"><span>Send Ether</span></a>
        </li>

        <li>
            <a  [routerLink]="['/ethereum/request']"><span>Request Ether</span></a>
        </li>

    </ul>
</nav>

    <div class="block block-center bg-vl-gray align-center">

        <img src="../../assets/img/ethereum.png" style="max-width:50px;" />
        <h2>Send Ether</h2><br>
        <div class="row tabs">
            <div class="col-sm-6">
                <span [class.active]="existing === 'wallet'"><a (click)="existing='wallet'"><span class="imgHolder">
            <img src="../../assets/img/wallet-o.svg">
            </span> Wallet File</a></span>
            </div>
            <div class="col-sm-6">
                <span [class.active]="existing === 'key'"><a (click)="existing='key'"><span class="imgHolder">
            <img src="../../assets/img/key.svg">
            </span> Private Key</a></span>
            </div>
        </div>
        <div *ngIf="existing === 'wallet'" >
            <label class="btn btn-lg btn-primary" *ngIf="!wallet">
                Upload Wallet File <input type="file" (change)="fileChangeListener($event)" style="display: none;">
            </label>
            <div *ngIf="wallet" class="clearfix">
                <input class="form-control" type="password" placeholder="Wallet password..." [(ngModel)]="walletPassword" (keyup.enter)="decryptWallet()"/>
                <div class="clearfix">
                <button class="btn btn-primary btn-lg pull-right" (click)="decryptWallet()">Continue</button>
                <button class="btn btn-danger btn-lg pull-left" (click)="resetWallet()">Cancel</button>
                </div>
            </div>
        </div>
        <div *ngIf="existing === 'key'">
            <input class="form-control" placeholder="Private Key" [(ngModel)]="keyInput" (keyup.enter)="showCardFromKey()">
            <button [disabled]="!isValidPrivateKey(keyInput)" class="btn btn-primary btn-lg" (click)="showCardFromKey()">Continue</button>
        </div>
        <br><br>
        <p>Enter private key or upload wallet above to unlock your wallet and perform the transaction.</p>
    </div>
</div>

<!--- Ether Send Modal -->
<div *ngIf="ready && !receipt">
<div class="container-md">

<nav class="affix clearfix" >

<ul class="nav">
 <li>
 <a  [routerLink]="['/ethereum/wallet']"><span>Create Wallet</span></a>
 </li>

  <li>
 <a  [routerLink]="['/ethereum/info']"><span>View Wallet</span></a>
 </li>

  <li>
 <a class="active"  [routerLink]="['/ethereum/send']"><span>Send Ether</span></a>
 </li>

  <li>
 <a  [routerLink]="['/ethereum/request']"><span>Request Ether</span></a>
 </li>

</ul></nav>

    <div class="block block-center send-ether">
        <div class="text-center">
        <img src="../../assets/img/ethereum.png" style="max-height: 100px;">
            <h3><b>Send Ether {{ network }}</b></h3>
        </div>

        <div *ngIf="!receipt">
            <form [formGroup]="sendEther">
                <div class="form-group mg-top-sm">
                    <b>From</b>
                    <div class="clearfix">
                        <input type="text" class="form-control withQr" value="{{ wallet.address }}" readonly>
                        <img width="40" height="40" style="border-radius: 20px;" src="{{ getBlockie(wallet.address) }}">
                    </div>
                    <b>To</b>
                    <div class="clearfix {{ sendEther.errors?.invalidAddress && sendEther.get('receiveAddress').touched ? 'has-error' : ''}} {{ !sendEther.errors?.invalidAddress && sendEther.get('receiveAddress').touched ? 'has-success' : ''}}">
                        <input class="form-control withQr" formControlName="receiveAddress" type="text" placeholder="Send to Address..." required="required"
                        />
                        <img *ngIf="isValidAddress(sendEther.controls.receiveAddress.value)" width="40" height="40" style="border-radius: 20px;"
                            src="{{ getBlockie(sendEther.get('receiveAddress').value) }}">
                    </div>
                </div>
                <br />
                <app-converter-box [baseValue]='sendEther.controls.amount_ether.value' [baseImage]='"assets/img/Ethereum.png"' [bid]='ethusd.value'
                    baseName='eth' quoteName='usd' (on_change)="converter($event)"></app-converter-box>
                <p *ngIf="ethusd?.time">** The exchange rate is as of {{ ethusd?.time}}</p>

                <button [disabled]="!sendEther.valid || !isValidAddress(sendEther.controls.receiveAddress.value)" type="submit" (click)="makeReceipt()"
                    class="btn btn-primary btn-block btn-lg mg-btm-sm">Send Ether</button>
            </form>
        </div>
    </div>
    </div>
</div>

<div *ngIf="receipt" class="app" [class.active]="receipt">
    <div class="header">
        <div class="cust-num text-center">

        <img src="../../assets/img/ethereum.png" style="max-width:50px;" />

            <div class="blockies">
                <img width="50" height="50" style="border-radius: 25px;" src="{{ getBlockie(receipt.from) }}">
                <i style="font-size:38px;" class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <img width="50" height="50" style="border-radius: 25px;" src="{{ getBlockie(receipt.to) }}">
            </div>
        </div>
        <div style="padding:30px">
<h2>Do you confirm</h2>
            <p>You've about to send {{receipt.amount}} Ether worth ${{ receipt.amount_usd}}</p>
        </div>

    </div>
<!--
    <main>
        <ul>
            <li>Amount <span>{{receipt.amount}} Ether</span></li>
            <li>Transaction Fee<span>{{ receipt.fee}} Ether</span></li>
        </ul>
        <div class="total">
            <p>Total Cost <span>{{receipt.total}} Ether</span></p>
        </div>
    </main> -->

    <div style="padding:30px">
        <button (click)="onSubmit()" class="btn btn-primary btn-block btn-lg mg-btm-sm">Confirm</button>
        <button (click)="cancelReceipt()" class="btn btn-block btn-link btn-lg mg-btm-sm">Cancel</button>
    </div>

</div>

<!-- <pre>{{ wallet | json }}</pre> -->

<style>
    .send-ether h3 {
        text-transform: uppercase;
    }
</style>
