<!-- Existing Wallet Box -->
<div *ngIf="!ready" class=" card walletSelectionBox">
    <ul class="nav nav-tabs">
        <li [class.active]="existing === 'wallet'"><a (click)="existing='wallet'">Wallet File</a></li>
        <li [class.active]="existing === 'key'"><a (click)="existing='key'">Private Key</a></li>
    </ul>
    <div *ngIf="existing === 'wallet'" class="nav nav-content">
        <label class="btn btn-lg btn-primary">
            Upload Wallet File <input type="file" (change)="fileChangeListener($event)" style="display: none;">
        </label>    
        <div *ngIf="wallet" class="nav-content" >
                <input placeholder="Wallet password..." [(ngModel)]="walletPassword"/>
                <button class="btn btn-primary btn-lg" (click)="decryptWallet()">View Wallet</button>                
        </div>
    </div>
    <div *ngIf="existing === 'key'" class="nav nav-content">
        <input placeholder="Private Key" [(ngModel)]="keyInput">
        <button [disabled]="!isValidPrivateKey(keyInput)" class="btn btn-primary btn-lg" (click)="showCardFromKey()">View Wallet</button>
    </div>
</div>

<!--- Ether Send Modal -->
<div *ngIf="ready">
    <div class="card card-md-p send-ether">
        <div class="text-center">
            <h3><b>Send Ether To: </b></h3>
        </div>

        <div *ngIf="!receipt">
            <form [formGroup]="sendEther">
                <div class="{{ sendEther.errors?.invalidAddress && sendEther.get('receiveAddress').touched ? 'has-error' : ''}} {{ !sendEther.errors?.invalidAddress && sendEther.get('receiveAddress').touched ? 'has-success' : ''}}">
                    <input formControlName="receiveAddress" type="text" class="form-control" placeholder="Send to Address..." required="required" />
                </div>
                <br />
                <!-- <div class="converter-box">
                    <div class="input-group">
                        <div class="input-group-addon bdr-none flex-box">
                            <div class="super-txt ">
                                <h4><b>eth</b></h4>
                            </div>
                            <div class="base-txt"><img src="assets/img/Ethereum.png" alt=""></div>
                        </div>
                        <input class="form-input" (input)="etherAmountChanged($event, sendEther)" formControlName="amount_ether" type="number" min="0">
                    </div>
                    <span><h2> = </h2></span>
                    <div class="input-group">
                        <div class="input-group-addon bdr-none flex-box">
                            <div class="super-txt">
                                <h4><b>usd</b></h4>
                            </div>
                            <div class="base-txt">
                                <h4>$</h4>
                            </div>
                        </div>
                        <input class="form-input" (input)="usdAmountChanged($event, sendEther)" formControlName="amount_usd" type="number" min="0">
                    </div>
                </div>  -->
                <app-converter-box [baseImage]='"assets/img/Ethereum.png"' [bid]='ethusd.value' baseName='eth' quoteName='usd' (on_change)="converter($event)"></app-converter-box>
                <span *ngIf="ethusd?.time" style="color:#bbb;font-size:14px;margin-bottom:0px;bottom:0;">** The exchange rate is as of {{ ethusd?.time}}</span>

                <button [disabled]="!sendEther.valid || !isValidAddress(sendEther.controls.receiveAddress.value)" type="submit" (click)="makeReceipt()" class="btn btn-primary btn-block btn-lg mg-btm-sm">Make Transaction</button>
            </form>
        </div>
        <div *ngIf="receipt">
            <h4>Receipt:</h4>
            <ul>
                <li>To : {{ receipt.to }}</li>
                <li>From : {{ receipt.from }}</li>
                <li>Balance : {{ receipt.balance }}</li>
                <li>Amount : {{ receipt.amount }}</li>
                <li>Fee : {{ receipt.fee }}</li>
                <li>Total : {{ receipt.total }}</li>
            </ul>
            <button (click)="onSubmit()" class="btn btn-primary btn-block btn-lg mg-btm-sm">Send Transaction</button>
        </div>
    </div>
</div>

<!-- <pre>{{ wallet | json }}</pre> -->

<style>
    .send-ether h3 {
        text-transform: uppercase;
    }
</style>
