<!-- Wallet Creation Info  -->
<div class="fullPage" *ngIf="!ready">
    <div class="pop-alert-box card-center card-md-p align-center">
        <img src="../../assets/img/key-icon.svg" alt="key" class="img-responsive">
        <div class="pop-alert">
            <h1 class="color-black txt-scale"><b>We don't store your keys</b></h1>
            <p p-font-size>We believe in user and we regard ourself as <span class="color-blue">Trusted</span> place to make transactions</p>
            <button (click)="isReady()" type="button" name="ok_go_it" class="btn-marg btn-blue text-white"> <b>Ok, Got it</b></button>
        </div>
    </div>
</div>

<!-- Wallet Creation Page -->
<div *ngIf="ready">
    <header>
        <div class="container">
            <div class="logo">
                <img src="../assets/img/logo.png" alt="logo" class="img-responsive">
            </div>
            <nav-bar></nav-bar>
        </div>
    </header>
    <div class="container-md {{ slideClass }}">
        <div class="row">
            <div class="col-md-6">
                <div class="block block-center bg-blue">
                    <h2> Create wallet </h2>
                    <br/>
                    <form [formGroup]="walletForm" (ngSubmit)="create()">
                        <div class="form-group">
                            <input type="{{ passphraseType }}" class="form-control input-lg" formControlName="password" placeholder="Enter Passphrase"
                            />
                            <div class="text-right">
                                <a class="btn-link" (click)="passphraseToggle()">{{ passphraseButton }}</a>
                            </div>
                        </div>

                        <div class="buttonWithLoader">
                            <button type="submit" [disabled]="isDisabled" class="btn btn-primary btn-block btn-lg" (click)="create()">Create Wallet</button>
                        </div>

                        <p class="text-sm">This password encrypts your private key. This does not act as a seed to generate your keys. You will
                            need this password + your private key to unlock your wallet.
                        </p>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block bg-gray">
                    <div *ngIf="wallet">
                        <h2>Wallet Ready!</h2>
                        <div class="form-group mg-top-sm">
                            <b>Public Key (Address)</b>
                            <div class="clearfix">
                                <input type="text" class="form-control withQr" value="{{ wallet.address }}">

                                <span class="{{ qrClass }}" (click)="qrToggle()">
                                    <svg class="qr" width="40px" height="40px" viewBox="0 0 40 40">
                                        <path [attr.d]="qrSvg"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <b>Private Key</b>
                            <input type="text" class="form-control" value="{{ wallet.privateKey }}">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary btn-lg" (click)="saveWalletToFile()">Download Wallet</button>
                            <br />
                            <button class="btn btn-link btn-lg" (click)="printPaperWallets()">Print Wallet</button>
                            <button class="btn btn-link btn-lg" (click)="showModal()">Request Ether</button>
                            <button class="hide" (click)="deleteWallet()">Delete Wallet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- Ether Request Modal -->
<div class="request-modal" *ngIf="modalVisible">
    <div class="card card-center card-md-p">
        <div class="text-center">

            <h2>Request Ether</h2>
            <br />
            <form [formGroup]="requestEtherForm">
                <!--<input class="form-control withQr" style="margin:0;margin-right:5px;" type="text" value="{{wallet.address}}" disabled>
                <img width="40" height="40" src='data:image/png;base64,{{ identicon }}' id='iconImage' style="display: block;">-->
                <input class="form-control" formControlName="email" type="email" placeholder="Email...">
                <div class="converter-box">
                    <div class="input-group">
                        <div class="input-group-addon bdr-none flex-box">
                            <div class="super-txt "><h4><b>eth</b></h4></div>
                            <div class="base-txt"><img src="assets/img/Ethereum.png" alt=""></div>
                        </div>
                        <input class="form-input" (input)="etherAmountChanged($event)" formControlName="amount_ether" type="number">
                    </div>
                    <span><h2>=</h2></span>
                    <div class="input-group">
                        <div class="input-group-addon bdr-none flex-box">
                            <div class="super-txt"><h4><b>usd</b></h4></div>
                            <div class="base-txt"><h4>$</h4></div>
                        </div>
                        <input class="form-input" (input)="usdAmountChanged($event)" formControlName="amount_usd" type="number">                
                    </div>
                </div>
                <textarea class="form-control" formControlName="comment" placeholder="Comment"></textarea>
            </form>
        </div>
        <div class="button-space">
            <button class="btn btn-primary btn-lg"  (click)="requestEther()">Request</button>
            <button class="btn btn-link btn-lg" (click)="cancelModal()">CANCEL</button>
        </div>
    </div>
</div>
